<mat-toolbar color="primary">
  <span>Message Broker Administration Panel</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span><button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>settings</mat-icon></button></span>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Info</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>school</mat-icon>
      <span>Test button</span>
    </button>
  </mat-menu>

</mat-toolbar>


<mat-grid-list cols="3">

  <mat-grid-tile>
    <app-devices-connected></app-devices-connected>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-latest-interactions></app-latest-interactions>
  </mat-grid-tile>

  <mat-grid-tile>
    <app-test-area></app-test-area>
  </mat-grid-tile>



</mat-grid-list>
