mat-toolbar {
  margin-bottom: 1rem;
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}


.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  width: 33%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
