<mat-card>
  <mat-card-header>
    <mat-card-title>Test area</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-form #myForm="ngForm" class="outerForm">

      <mat-form-field class="inputField">
          <input matInput
            ngModel
            name="title"
            placeholder="Title"
            autocomplete="off"
            required>
      </mat-form-field>

      <mat-form-field class="inputField">
          <textarea
            matInput
            ngModel
            name="message"
            placeholder="Message"
            autocomplete="off"
            required></textarea>
      </mat-form-field>

      <div class="inputField">
        Level:
        <mat-radio-group aria-label="Select an option" name="level" ngModel required>
            <mat-radio-button
              color="primary"
              [value]="number"
              *ngFor="let number of [1,2,3,4,5]"
              style='margin-right: 1.5rem;'>{{ number }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="inputField">
        Select device:
        <mat-radio-group aria-label="Select an option" name="device" ngModel>
          <span *ngFor="let device of devices">            <mat-radio-button
              color="primary"
              [value]="device.name"
              *ngIf="device.online"
              style='display: block'>{{ device.name }}</mat-radio-button>
          </span>

        </mat-radio-group>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="sendRequest(myForm)"
        [disabled]="!myForm.valid">Send request</button>

      <button
        mat-raised-button
        color="warn"
        (click)="resetForm(myForm)">Reset From</button>

    </ng-form>

  </mat-card-content>
</mat-card>
