<mat-card>
  <mat-card-header>
    <mat-card-title>Test area</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <ng-form #myForm="ngForm" class="outerForm">

      <mat-form-field class="inputField">
          <input matInput
            ngModel
            name="title"
            placeholder="Title"
            autocomplete="off"
            required>
      </mat-form-field>

      <mat-form-field class="inputField">
          <textarea
            matInput
            ngModel
            name="description"
            placeholder="Description"
            autocomplete="off"
            required></textarea>
      </mat-form-field>

      <div class="inputField">
        Level:
        <mat-radio-group aria-label="Select an option" name="level" ngModel required>
            <mat-radio-button
              color="primary"
              [value]="number"
              *ngFor="let number of [1,2,3,4,5]"
              style='margin-right: 1.5rem;'>{{ number }}</mat-radio-button>
        </mat-radio-group>
      </div>

      <div class="inputField">
        Select device:
        <mat-radio-group aria-label="Select an option" name="device" ngModel>
          <span *ngFor="let device of devices">
            <mat-radio-button
              color="primary"
              [value]="device._id"
              *ngIf="device.online"
              style='display: block'>{{ device.name }}</mat-radio-button>
          </span>

        </mat-radio-group>
      </div>


    </ng-form>



      <!-- ---------- CUSTOM FIELD ---------- -->
      <div *ngFor="let input of customInputs; let i = index" class='customField'>

          <mat-grid-list cols="2" rowHeight="4:1">
              <mat-grid-tile>
                  <mat-form-field class="inputField">
                      <input matInput
                        [(ngModel)]='input.title'
                        placeholder="Title"
                        autocomplete="off"
                        required>
                    </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                  <mat-form-field class="inputField">
                      <input matInput
                      [(ngModel)]='input.name'
                      placeholder="Field name"
                      autocomplete="off"
                      required>
                    </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                  <mat-form-field class="inputField">
                    <mat-select [(value)]="input.type">
                        <mat-option value="text">Text</mat-option>
                        <mat-option value="textarea">Text area</mat-option>
                        <mat-option value="checkbox">Checkbox</mat-option>
                        <mat-option value="select">Select</mat-option>
                    </mat-select>
                  </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile>
                  <mat-checkbox [(checked)]='input.required' color='primary'>Required</mat-checkbox>
              </mat-grid-tile>

              <span *ngIf="input.type === 'select'">
                <span *ngFor="let element of input.elements">
                  <mat-grid-tile>
                      <mat-form-field class="inputField">
                          <input matInput
                            [(ngModel)]='element.text'
                            placeholder="Text"
                            autocomplete="off"
                            required>
                        </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <mat-form-field class="inputField">
                        <input matInput
                          [(ngModel)]='element.value'
                          placeholder="Value"
                          autocomplete="off"
                          required>
                      </mat-form-field>
                  </mat-grid-tile>
                </span>

                <mat-grid-tile colspan="2">
                    <button mat-raised-button (click)="addElementSelect(input.elements)">Add element</button>
                </mat-grid-tile>
              </span>


              <mat-grid-tile colspan="2">
                  <button mat-raised-button color='warn' (click)="removeInput(i)">Remove custom input</button>
              </mat-grid-tile>

          </mat-grid-list>

        </div>
        <!-- ---------- END CUSTOM FIELD ---------- -->

        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <button
              mat-raised-button
              color="accent"
              (click)="addInput()">Add custom input</button>
          </mat-grid-tile>

          <mat-grid-tile>
              <button
                mat-raised-button
                color=""
                (click)="testFields()">Test Fields</button>
            </mat-grid-tile>


          <mat-grid-tile>
            <button
              mat-raised-button
              color="primary"
              (click)="sendRequest(myForm)"
              [disabled]="!myForm.valid">Send request</button>
          </mat-grid-tile>

          <mat-grid-tile>
            <button
              mat-raised-button
              color="warn"
              (click)="resetForm(myForm)">Reset From</button>
          </mat-grid-tile>
        </mat-grid-list>


  </mat-card-content>
</mat-card>
