<mat-card>
  <mat-card-header>
    <mat-card-title>Latest interactions
        <button mat-icon-button (click)="refresh()"><mat-icon>refresh</mat-icon></button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-expansion-panel *ngFor="let interaction of interactions">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span><mat-icon [style.color]="interaction.dotColor">fiber_manual_record</mat-icon></span>
            {{ interaction.title }}
          </mat-panel-title>
          <mat-panel-description>
              {{ interaction.timestamp | date:'dd/MMM/yy @ HH:mm:ss'  }}
              <!--{{ interaction.description }}-->
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-interaction-display [interaction]='interaction'></app-interaction-display>

        <button mat-raised-button color="warn" (click)="deleteInteraction(interaction)">Delete</button>
      </mat-expansion-panel>

  </mat-card-content>
</mat-card>
